a:link		{ color: #0000ff }
a:visited	{ color: #000099 }
a:hover		{ color: #ff0000 }
a:active	{ color: #ff0000 }
h1		{ font-family: Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #006699; }
h2		{ font-family: Helvetica, sans-serif; font-size: 12pt; font-weight: bold; }
th		{ font-family: Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-align: center; }
.h1		{ font-family: Helvetica, sans-serif; font-size: 14pt; font-weight: bold; }
.h1bar		{ font-family: Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #006699; }
.h2		{ font-family: Helvetica, sans-serif; font-size: 12pt; font-weight: bold; }
.biglabel	{ font-family: Helvetica, sans-serif; font-size: 12pt; font-weight: bold; }
.label		{ font-family: Helvetica, sans-serif; font-size: 10pt; font-weight: bold; }
.labelbar	{ font-family: Helvetica, sans-serif; font-size: 10pt; font-weight: bold; }
.normal		{ font-family: Helvetica, sans-serif; font-size: 10pt; }
.normalbar	{ font-family: Helvetica, sans-serif; font-size: 10pt; }
.notice		{ font-family: Helvetica, sans-serif; font-size: 10pt; color: #006699; }
.bnotice	{ font-family: Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #006699; }
.warning	{ font-family: Helvetica, sans-serif; font-size: 10pt; color: #ff0000; }
.verbarleft	{ font-family: Helvetica, sans-serif; font-size: 10pt; background-color: #89f9ff; }
.horbartop	{ font-family: Helvetica, sans-serif; font-size: 10pt; background-color: #79e9ef; }
.nav		{ background-color: #ffffff; }
.error		{ color: #ff0000; font-variant: small-caps }
.addbutton	{ font-family: Helvetica, sans-serif; font-size: 10pt }
