body { font-family: helvetica, Arial, sans-serif; font-size: 10pt; background-image: "/backgrounds/vinebot2.jpg"}
p { font-family: helvetica, Arial, sans-serif; font-size: 10pt; }
td { font-family: helvetica, Arial, sans-serif; font-size: 10pt; }
a:visited		{ color: #667f66 } 
a:link	{ color: #7f6666 }
a:hover		{ color: #ff0000 }
a:active	{ color: #ff0000 }
h1		{ font-size: 14pt; font-weight: bold; color: #99335d; }
h2		{ font-size: 12pt; font-weight: bold; }
th		{ font-weight: bold; text-align: center; }
.h1bar		{ font-size: 14pt; font-weight: bold; color: #669933; }
.h2		{ font-size: 12pt; font-weight: bold; }
.biglabel	{ font-size: 12pt; font-weight: bold; }
.label		{ font-weight: bold; }
.labelbar	{ font-weight: bold; color: #669933; }
.normalbar	{ font-size: 10pt; font-weight: bold; color: #7f6666; }
.notice		{ color: #006699; }
.warning	{ color: #ff0000; }
.verbarleft	{ font-size: 8pt; background-color: #dcb8c2; }
.horbartop	{ vertical-align: middle; }
.nav		{ font-weight: bold; background-color: #ffeac9; }
.error		{ color: #ff0000; font-variant: small-caps }
.addbutton	{ font-size: 9pt; border-style: none; color: #000000; background-color: #a1bab6; }
.wlbutton	{ font-size: 10pt; border-style: none; color: #000000; background-color: #a1bab6; }
.ptitle		{ font-weight: bold; }
table.invoicerow		{ padding: 0pt;  border: solid 1pt; width: 100%; border-left: none; border-bottom: none; }
th.invoicerow	{ padding: 5pt; border-style: none; border-bottom: solid 1pt; border-left: solid 1pt; font-family: serif; font-size: 14pt; }
td.invoicerow	{ padding: 5pt; border-style: none; border-bottom: solid 1pt; border-left: solid 1pt; font-family: Verdana, sans-serif; font-size: 12pt; }
td.invoicelrow	{ padding: 5pt; border-style: none; border-bottom: solid 1pt; border-left: solid 1pt; font-family: Verdana, sans-serif; font-size: 12pt; font-weight: bold;  text-align: left; }
td.invoiceblurb	{ padding: 5pt; border-style: none;; border-bottom: solid 1pt; border-left: solid 1pt; font-family: Verdana, sans-serif; font-size: 12pt; text-align: center; }
.invoiceheader	{ font-family: Verdana, sans-serif; font-size: 14pt; font-weight: bold; text-align: center; }
.invoicetext	{ font-family: Verdana, sans-serif; font-size: 12pt;  }
h3		{ font-size: 12pt; font-weight: bold; color: #ff9966; }
.ccyel		{ color: #e0c030 }
.ccwht		{ color: #b8c0d8 }
.loginlabel	{ font-size: 8pt; font-weight: bold; color: #99335d; }
.footer	{ font-size: 8pt; color: #000000; }
